.letter-item {
    margin: 10px;
    width: auto;
    height: auto;
    padding: .7em .8em;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}
#quest-text {
  font-size: 1.4em;
}
.aswer-count{
  padding: .9em;
}
.aswer-count p {
  margin: 0;
}

.hide {
  display: none;
}
.show {
  display: inline-block;
}
